body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width:100%;
}
.container{
    width: 100%;
    height: 1400px;
}

/*header*/
header{
    position: relative;
    width:100%;
    height: 70px;
}
.column_background{
    position: fixed;
    width:100%;
    height: 70px;
    background-color: #085394;
    z-index: 3;
}
 ul{
    position: fixed;
    left:150px;
    z-index: 3;
    padding-left: 0px;
    margin-top:16px;
    width: 100%;
    height: 70px;
}
 li{
    display: inline-block;
    margin-right: 60px;
    text-decoration: none;
    list-style-type: none;
    font-size: 28px;
    font-family: "Microsoft JhengHei";
    font-weight: bolder;
    color: white;
}
ul a li:hover{
    color: red;
}
#logo{
    position: fixed;
    width: 100px;
    height: 70;
    z-index: 3;
}
#fb{
    position: fixed;
    margin-top: 11px;
    width: 48px;
    height: 48px;
    right: 15%;
    z-index: 3;
}
#ig{
    position: fixed;
    margin-top: 11px;
    width: 48px;
    height: 48px;
    right: 8%;
    z-index: 3;
}
#youtube{
    position: fixed;
    margin-top: 11px;
    width: 48;
    height: 48;
    right: 1%;
    z-index: 3;
}

/*Home_Screen*/
.Home_Screen{
    position: relative;
    margin-left: 129;
    margin-right: 129;
    width: 850;
    height: 400;
}
.title{
    position: absolute;
    top: 0%;
    left: 15%;
}
.title h1{
    font-family: "Arial","Microsoft JhengHei";
    margin:0;
    font-size: 50px;
    font-weight: bolder;
}
.word{
    position: absolute;
    color: white;
    font-family: "Microsoft JhengHei";
    font-size: 20px;
    top: 180px;
    left: 14%;
    width: 840;
    height: 100;
    z-index: 2;
}
.word p a{
    text-decoration: none;
    color:white;
}
.word p a:hover{
    color:orange;
}
.column_word{
    position: absolute;
    background-color: black;
    top: 200px;
    left: 13%;
    width: 850;
    height: 150;
    opacity: 0.5;
    z-index: 1;
}
.main_news_img img{
    position: absolute;
    top: 15%;
    left: 13%;
    width: 850;
    height: 290;

}

/*news_block*/
.news_block{
    position: relative;
    margin-left: 129px;
    margin-right: 129px;
    width:850px;
    height:500px;
}
.news_block_1{
    position: absolute;
    background-color: #eeeeee;
    left: 13%;
    top: 50px;
    width: 850;
    height: 155;
}
.news_block_2{
    position: absolute;
    background-color: #eeeeee;
    left: 13%;
    top: 255px;
    width: 850;
    height: 155;
}
.news_block_3{
    position: absolute;
    background-color: #eeeeee;
    left: 13%;
    top: 460px;
    width: 850;
    height: 155;
}
.time{
    position: absolute;
    font-size: 20px;
    margin-top: 38px;
    left: 4%;;
}
.news_img img{
    position: absolute;
    left: 18%;
    margin-top: 20px;
    width: 200;
    height: 114;
}
.news_contact{
    position: absolute;
    left: 46%;
    margin-top: 0px;
    width: 450;
    font-family: "Microsoft JhengHei";
    font-size: 16px;
}
.news_contact p a{
    font-family: "Arial";
    text-decoration: none;
}
.news_contact p a:hover{
    color: rgba(0, 162, 255, 0.568);
}
.news_contact a h3{
    font-family: 'Do Hyeon', sans-serif;
    font-weight: bolder;
    color: #2b78e4;
}
.news_contact a{
    text-decoration: none;
}  /*消除標題底線*/
.news_contact{
    position: absolute;
}
.change_page {
    position: absolute;
    font-family: 'Arial';
    font-size: 20px;
    top: 630px;
    margin-left: 360;
}
.change_page a{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}/*消除標題底線*/
.change_page a:hover{
    color: rgba(0, 162, 255, 0.568);
}



